/target/
Cargo.lock
/data/
/.data/
/secrets/
.DS_Store
*.log
config.toml
ui/node_modules
ui/dist
.idea
.state
notes/
*:Zone.Identifier
*:mshield
apps/mobile/node_modules/
apps/mobile/.expo/
apps/mobile/dist/
apps/mobile/.next/
